{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Warehouse</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <!-- <script>
        var x = document.getElementById("demo");
        function getLocation() {
            console.log("Called");
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
        }
    </script> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
</head>

<body>
    <div id="demoMap" style="width:100%;height:600px;"></div>
</body>
<script>
    // var lat = navigator.geolocation.getCurrentPosition.coords.latitude;
    // var lon = navigator.geolocation.getCurrentPosition.coords.longitude;
    // console.log(lat);
    // console.log(lon);
    var lat;
    var lon;
    var map;
    var markers = new Array();
    var routes = new Array();
    let socket = new WebSocket("ws://localhost:8000/ws/tableData/");
    navigator.geolocation.getCurrentPosition(function (position) {
        lat = position.coords.latitude;
        lon = position.coords.longitude;
        map = L.map('demoMap', {
            center: [lat, lon],
            zoom: 15,
        });
        var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>' });
        L.marker([lat, lon]).addTo(map);
        addMapIcons(map, osm);
        // var incidences = L.geoJson(null, {
        //     pointToLayer: function (feature, latlng) {
        //         return L.marker(latlng, {
        //             icon: L.icon({ iconUrl: "static/img/red.png", 
        //                             iconSize: [28, 32], 
        //                             iconAnchor: [12, 28], 
        //                             popupAnchor: [0, -25] }), 
        //                             title: feature.properties.title,
        //                             riseOnHover: true });
        //     },
        // }).addTo(map); 
        // var incidencesUrl = 'incidences'; $.getJSON(incidencesUrl, function (data) { incidences.addData(data); });
    },
        function (position) {
            window.alert("Error Code" + position.code);
            var map = L.map('demoMap', {
                center: [19.0760, 72.8777],
                zoom: 15,
            });
            var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>' });

            osm.addTo(map);
        });
    function makebooking(primary_key) {
        // obj1 = {
        //     'id':primary_key,
        //     'no_of_slots':'1',
        //     'username':'{{username | safe}}'
        // }
        var inp = document.getElementById('slots_num').value.toString();
        if(!inp)
        {
            window.alert("Enter number of slots to book.");
            return;
        }
        console.log(inp);
        var data = primary_key + " " + inp + " " + '{{username | safe}}'
        socket.send(data);
        showRoutingInfo(primary_key);

        // console.log(data);
    }

    function showRoutingInfo(primary_key) {
        for (i = 0; i < routes.length; i++) {
            map.removeControl(routes[i]);
        }
        var back_data = {{data | safe}};
        var features = back_data['features'];
        var booked_warehouse;
        for(let i of features)
        {
            if(i['properties']['pk'] === primary_key)
            {
                booked_warehouse = i;
            }
        }
        var warehouse_lon = booked_warehouse["geometry"]['coordinates'][0];
        var warehouse_lat = booked_warehouse["geometry"]['coordinates'][1];
        var new_route;
        new_route = L.Routing.control({
            waypoints: [
            L.latLng(lat, lon),
            L.latLng(warehouse_lat, warehouse_lon)
            ],
            router: L.Routing.mapbox('pk.eyJ1IjoidmVkYW50aHJhamEiLCJhIjoiY2tsbWsycHM0MDlzZTJvbXhrcHJwbTFrNSJ9.bRTuVraEk8w_Gq30sZ3yzg'),
            createMarker: function() { return null; },
            fitSelectedRoutes: false
        });
        routes.push(new_route);
        routes[routes.length-1].addTo(map);
    }

    function addMapIcons(map, osm, data1 = 0) {
        var data_new;
        if (data1 == 0) {
            data_new = {{ data | safe }};
    }
        else
    {
        data_new = data1;
    }
    console.log(data_new);
    var features = data_new['features'];
    console.log(features);
    var leaficon = L.icon({ iconUrl: "../../static/img/red.png", iconSize: [28, 32], iconAnchor: [12, 28], popupAnchor: [0, -25] });
    for (let i of features) {
        let lon = i["geometry"]['coordinates'][0];
        let lat = i["geometry"]['coordinates'][1];
        // console.log(lat);
        // console.log(lon);
        let title = i['properties']['name'];
        let marker1 = new L.marker([lat, lon], { icon: leaficon, title: title });
        markers.push(marker1);
        markers[markers.length - 1].addTo(map);
        // marker1.addTo(map);
        // console.log();
        slots_rem = i['properties']['availableSlots'];
        var cost = i['properties']['bookingFees'];
        var pk = i['properties']['pk'];
        var war_name = i['properties']['name'];
        // console.log(typeof(pk));
        var popup_content;
        var button_style_str = 'box-shadow:inset 0px 1px 0px 0px #f9eca0;background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);background-color:#f0c911;border-radius:6px;border:1px solid #e65f44;display:inline-block;cursor:pointer;color:#c92200;font-family:Arial;font-size:15px;font-weight:bold;padding:6px 24px;text-decoration:none;text-shadow:0px 1px 0px #ded17c;';

        console.log(button_style_str);
        if (slots_rem == 0) {
            popup_content = "<p>Warehouse is completely booked.</p><p><b>No slots remaining.</b></p>";
        }
        else {
            popup_content = "<div style=\"text-align:center\"><p style=\"font-size:larger;\"><b>"+war_name+"</b></p><p><b>Slots Remaining:</b>" + slots_rem.toString() + "</p><p><b>Slot Cost:</b> " + cost.toString() + " Rs. </p><label for=\"slots_num\"><b>Number of slots:</b></label><input type=\"number\" id=\"slots_num\" onKeyDown=\"return false\" min=\"1\" max=\""+slots_rem.toString()+"\"><br><br><button style=\""+button_style_str+"\" onclick='makebooking(" + "\"" + pk + "\"" + ")'>Book</button></div>";
        }

        console.log(popup_content);
        markers[markers.length - 1].bindPopup(popup_content);
        // marker.setPopupContent(popup_content);
        // L.marker([lat, lon]).addTo(map);
    }
    osm.addTo(map);
}

    socket.onmessage = function (e) {
        // var data_recv = JSON.parse(e.)
        console.log(e);
        //data = e.
        // map.remove();
        // console.log(window.maps);
        // var map1 = window.maps.leafletList[0].map;
        // map1.remove();
        var data_new = JSON.parse(e.data);
        // var map = L.map('demoMap', {
        //     center: [lat, lon],
        //     zoom: 15,
        // });
        var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { maxZoom: 19, attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>' });
        L.marker([lat, lon]).addTo(map);
        for (i = 0; i < markers.length; i++) {
            map.removeLayer(markers[i]);
        }
        // map.invalidateSize();
        addMapIcons(map, osm, data_new);
        // console.log(JSON.parse(e.data));
        //Mapbox Token : pk.eyJ1IjoidmVkYW50aHJhamEiLCJhIjoiY2tsbWsycHM0MDlzZTJvbXhrcHJwbTFrNSJ9.bRTuVraEk8w_Gq30sZ3yzg
    }
</script>
</html>