<!DOCTYPE html>
<html>
  {% load static %}

  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <div class="wrapper">
    <div class="form">
      <div class="title">Signup to Inventory Management System</div>
      <form method="POST">
        {% csrf_token %}
        <div class="input_wrap">
          <label for="input_password">Email</label>
          <div class="input_field">{{ form.email }}</div>
        </div>
        <div class="input_wrap">
          <label for="input_password">Username</label>
          <div class="input_field">{{ form.username }}</div>
        </div>
        <div class="input_wrap">
          <label for="input_password">Password</label>
          <div class="input_field">{{ form.password }}</div>
        </div>
        <div class="input_wrap">
          <input
            type="submit"
            id="login_btn"
            class="btn disabled"
            value="Register"
          />
        </div>
        {{forms.errors}} {% for msg in messages %}
        <p style="color: red">{{msg}}</p>
        {% endfor %}
      </form>
    </div>
  </div>
</html>
